{% extends 'TipddyMasleadsBundle::layout.html.twig' %}

{% block javascripts %} 
 {{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/tipddymasleads/js/formularios.js') }}"></script>
 {% endblock %}

{% block content %}

<form action="{{ path('comment_create')}}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
 <fieldset>
 <legend>Nueva Campaña</legend> 
  {% include 'TipddyMasleadsBundle:Campaign:_form.html.twig' %}
 </fieldset>
 
{% include 'TipddyMasleadsBundle::_botones-formulario.html.twig' with {'btn_action':'Guardar', 'route':'campaign'} only %} 

</form>
 
{% endblock %}