<div class="acciones">
   <span class="edit">
     <a href="{{ path(route ~ '_show', {'id': entity.id, 'page': page })}}">Ver</a>
   </span>
   |     
   <span class="edit">
     <a href="{{ path( route ~ '_edit', {'id': entity.id, 'page': page})}}">Editar</a>
   </span>

</div>