<div class="save-cancel-group">
   <button id="new-list-save" class="button" type="submit">{{ btn_action }}</button>
   <button id="new-list-cancel" class="button p3" type="button" onclick="location.href='{{ path(route, { 'page' : page }) }}'">Cancelar</button>
</div>
