{% macro fieldText(element, value, label) %}
<div class="field-group">
    <label for="tipddy_masleadsbundle_campanastype_{{ element }}" >{{ label }}</label>
    <div class="field-wrapper">
       {{ value }}
   </div>
</div>
{% endmacro %}