<span class="topBarElem">
  <b>Tú Panel</b>
</span>
|
<span class="topBarElem">
  <a href="" class="iframe-header" title="Envíanos comentarios, sugerencias o pídenos ayuda">Envíanos comentarios, sugerencias o pídenos ayuda</a>
</span>