|
<span class="topBarElem">!Hola, {{ app.user }}</span> |<span> Tipo Usuario: {{ app.user.tipoUsuario }}</span> |<span> Organización:  {{ app.user.organizacion }}</span>
<span class="topBarElem">
 | <a href="{{ path('logout') }}">Desconectar</a>
</span>
