{% extends 'TipddyMasleadsBundle::layout.html.twig' %}

{% block javascripts %}
  {{ parent() }}
   <script type="text/javascript" src="{{ asset('bundles/tipddymasleads/js/regcomu.js') }}"></script> 
{% endblock %}

{% block content %}

<form action="{{ path('user_update', {'id' : entity.id })}}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
 <fieldset>
 <legend>Editar Usuario</legend> 
    {% include 'TipddyMasleadsBundle:User:_form.html.twig' %}
 </fieldset>
 
{% include 'TipddyMasleadsBundle::_botones-formulario.html.twig' with {'btn_action':'Guardar', 'route':'user', 'page' : page } only %} 

</form>
 
{% endblock %}